/* register form layout */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --bg-color: rgba(108, 144, 144, 0.753);
    --font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    --bg2-color: rgba(216, 219, 218, 0.74);
    --btn-color: rgba(142, 116, 236, 0.701);
    --border-radius: 0.3rem;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.login-container{
    width:70%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-self: center;
    position: absolute;
    top: 2rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: var(--box-shadow);
    z-index: 50;
}

.header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    padding: 0 1.5rem;
    border-radius: 1rem 1rem 0 0;
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow);
}

.header .logo{
    width: 130px;
    position: relative;

    >img{
        width: 180px;
        height: 35px;
        border-radius: 1rem;
    }
}

.login-container .form-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
    gap: 1.5rem;
}

.login-container .form-container .email{
    grid-column: 1/-1;
}

