*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --bg-color: rgba(108, 144, 144, 0.753);
    --font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 110px;
    /* position: fixed; */
    box-shadow: var(--box-shadow)
}

/* sub header part */
.sub-header{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--bg-color);
    gap: 3rem;
}

.language{
    position: relative;
    top: 0.2rem;
    right: 3rem;
    gap: 0.5rem;
    display: flex;
    cursor: pointer;

    >.lang{
        border-radius: 50%;
    }
}

.sub-header .dropdown-lang{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: auto;
    padding: 1rem;
    right: 3rem;
     top: 2.4rem;
    background-color: rgb(248, 250, 252);
    z-index: 10;
}

.dropdown-lang #language-option{
    list-style: none;
    cursor: pointer;
}

.login{
    position: absolute;
    right: 9rem;
    gap: 0.3rem;
    padding: 0.2rem;
    display: flex;
    cursor: pointer;
    font-weight: 600;
 
    >.fa-user{
        margin-top: 0.5rem;
    }

}

/* main header part */
.header-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.logo{
    width: 100%;
    margin-left: 1rem;
    margin-top: 1rem;
    
    >img{
        width: 230px;
        height: auto;
        cursor: pointer;
    }
}

.navBar{
    display: flex;
    justify-content: center;
    align-items: center;

    >ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 0.8rem;

        >li{
            width: 90px;
            padding-left: 1rem;
            list-style: none;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

.dynamix-btn{
    width: 250px;
    padding: 0.8rem;
    margin-top: 1rem;
    margin-right: 9rem;
    display: flex;
    border: none;
    border-radius: 5rem;

    >a{
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
    }
}

.search-icon{
    position: absolute;
    right: 3rem;
    top: 3rem;
    padding: 0.5rem;

    >svg{
        width: 35px;
        height: 35px;
        cursor: pointer;
    }

}

/* searchbar dropdown */
/* .seachbar{
   width: 100%;
   height: 40px;
   margin-right: 3rem;
   margin-top: 0.8rem;
   border-radius: 2rem;
   padding: 0 1rem;
   background-color: rgba(128, 128, 128, 0.454);
   display: flex;
   justify-content: center;
}

.seachbar .search{
   width: 100%;
   height: 100%;
   margin-right: 3rem;
   border-radius: 2rem;
   border: none;
   outline: none;
   background: transparent;
   font-size: 1rem;
} */

/* main part first section*/
.main-container{
    width: 100%;
    position: absolute;
    top: 8rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.main-container .section1{
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 3rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding-left: 2rem;
    gap: 2rem;

    >h1{
        font-size: 52px;
        font-weight: bold;
        padding-top: 1rem;
        font-family: var(--font-family);
    }

    >h3{
        font-size: 32px;
        line-height: 2.5rem;

    }

}

.section1 .title button{
    padding: 1rem;
    border: none;
    align-self: center;
    margin-left: -3rem;
    font-weight: 700;
    font-size: large;
    border-radius: 18px;
    cursor: pointer;
}

.section1 .image{
    width: 600px;
    height: 400px;
    border-radius: 16px;
    position: relative;

    >img{
        width: 600px;
        height: 400px;
        border-radius: 16px;
    }
}

/* main part section two */
.main-container .section2{
    width: 70%;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;

    >p{
        line-height: normal;
    }
}

/* main part section three */
.main-container .section3{
    width: 100%;
    display: flex;
    position: relative;
    gap: 1.5rem;
}

.section3 .topic{
    width: 28%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.section3 .courses{
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.section3 .courses .card{
    width: 270px;
    height: 350px;
    border-radius: 1rem;
    position: relative;
}

.section3 .courses .card img{
    width: 270px;
    height: 350px;
    border-radius: 1rem;
}

.section3  .courses .card .card-name{
    width: 240px;
    height: 80px;
    background-color: aliceblue;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 1rem;
    bottom: 0.3rem;
}

.courses .card .card-name .name{
    font-weight: bold;
    font-family: var(--font-family);
}

.courses .card .card-name .arrow{
    font-size: xx-large;
    align-self: flex-end;
    margin-right: 1rem;
}

.section3 .slider-icons{
    /* width: 300px; */
    position: absolute;
    bottom: -3rem;
    right: 25rem;
    display: flex;
    justify-content: center;
    gap: 0.6rem;
}

.section3 .icon-btn{
    border-radius: 1.6rem;
    padding: 0.4rem;
    border: none;
    box-shadow: var(--box-shadow);
}

.slider-dots{
    display: flex;
    gap: 0.5rem;
    margin-top: 0.8rem;
}

.slider-dots .dots{
    background-color: var(--bg-color);
    inline-size: 0.6rem;
    block-size: 0.6rem;
    border-radius: 1.6rem;
    transition: inline-size .15s ease;
}


/* main part section four */
.main-container .section4{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.section4 .plans{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1.2rem;
}

.section4 .plans .Free{background-color: rgba(0, 0, 255, 0.338);}
.section4 .plans .personal{background-color: rgba(33, 6, 57, 0.687);}
.section4 .plans .enterprise{background-color: rgba(0, 0, 0, 0.986);}

.section4 .plans .skills{
    width: 30%;
    height: 400px;
    border-radius: 1rem;
    padding-top: 0.5rem;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.section4 .plans .skills .cost{
    padding: 1rem;
    height: 100px;
    background-color: var(--bg-color);
}

.section4 .plans .skills .details{
    height: 300px;
    background-color: aliceblue;
}


/* main part section five */
.main-container .section5{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--bg-color);

    >h1{
        font-weight: 700;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    >p{
        font-family: var(--font-family);
        font-size: 20px;
    }
}

.section5 .emailbtn{
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1rem;
     >a{
        text-decoration: none;
     }
}