*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --bg-color: rgba(108, 144, 144, 0.753);
    --font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    --bg2-color: rgba(220, 221, 221, 0.539);
    --btn-color: rgba(160, 235, 170, 0.97);
    --border-radius: 0.3rem;
    --color-hover: rgba(151, 202, 195, 0.984);
    --text-color: rgb(68, 74, 81);

}


body{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* header */
header{
    width: 100%;
    height: 15vh;
    /* position: fixed; */
    box-shadow: var(--box-shadow)
}

header .navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 2rem; */
}

.navBar .logo {
    width: 200px;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;

    >img{
        width: 190px;
        height: 8vh;
    }
}

.navBar .navmenu{
    width: fit-content;
    list-style: none;
    display: flex;
    position: absolute;
    gap: 2rem;
    top: 2rem;
    left: 16rem;

    >li{
        display: flex;
        gap: 0.5rem;
        font-weight: 500;
        color: var(--text-color);
        font-family: var(--font-family);
        cursor: pointer;

         >i{
            margin-top: 0.8rem;
         }
    }
}

.navBar .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    top: 2rem;
    right: 1.8rem;

    .profile-pic{
        width: 40px;
        border-radius: 50%;

        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }
}

/* language dropdown part */
.profile .dropdown-lang{
    position: absolute;
    top: 3rem;
    right: 3rem;
    width: 160px;
    background-color: white;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    display: none;
    z-index: 100;
}

.profile .dropdown-lang ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.profile .dropdown-lang ul li{
    padding: 0 1rem;
    cursor: pointer;
}

.profile .dropdown-lang ul li:hover{
    background-color: var(--bg-color);
}

.navBar .profile span{
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navBar .profile span:hover{
    background-color: var(--color-hover);
}

/* main part*/
main{
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*  dashboard section1  */
.dashboard-container{
    width: 100%;
    top: 8rem;
    padding-top: 2rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 6rem;
}
.dashboard-container .section1{
    display: flex;
    width: 100%;
    position: relative;
    padding: 2rem;

}

/* dashboard section1 */
.section1 .welcome {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 2rem;
}

.section1 .welcome .welcome-msg{
    font-size: larger;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    >h1:hover{
        color: var(--bg-color);
        transition: all 0.5s ease-in;
    }

    >p{
        color: var(--text-color);
        font-size: 14px;
    }
}

.section1 .welcome .course-status{
    width: 700px;
    display: flex;
    gap: 1rem;

    >.status-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 210px;
        height: 170px;
        border-radius: 1.5rem;
        transition: all 0.5s ease-in-out;
    }

}

.course-status .status-item span{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-status .status-item h2{
    font-weight: 700;
    font-size: 2rem;
}

.course-status .status-item p{
    font-weight: bold;
    margin-top: -0.8rem;
}

/* completed courses card */
.section1 .welcome .course-status .completed{
    background: linear-gradient(rgba(227, 244, 244, 0.575), rgba(0, 128, 0, 0.2));

    >span{
        background-color: rgba(92, 206, 179, 0.587);
    }
}

/* enrolled courses card*/
.section1 .welcome .course-status .enrolled{
       background: linear-gradient(rgba(202, 208, 226, 0.575), rgba(0, 0, 255, 0.276));

    >span{
        background-color: rgba(73, 122, 153, 0.587);
    }
}

/* in progress courses card */
.section1 .welcome .course-status .progress{
       background: linear-gradient(rgb(237, 230, 215), rgba(165, 103, 32, 0.422));

    >span{
        background-color: rgba(165, 103, 32, 0.283);
    }
}

.section1 .welcome .course-status .status-item:hover{
    box-shadow: var(--box-shadow);
}
/* section 1 progress track */
.dashboard-container .section1 .progress-track{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section1 .progress-track  >.title{
    display: flex;
    gap: 0.6rem;
    margin-top: -1rem;

    >span{
        margin-top: 0.2rem;
        >i{
            color: indigo;
        }
    }
}

.section1 .progress-track .courses-track{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    border: 0.2px dashed gray;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.progress-track .progress-item{
    padding: 0.6rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;

    >p{
        font-size: 12px;
    }
} 

.progress-track .progress-item:hover{
    box-shadow: var(--box-shadow);
    background-color: var(--bg2-color);
    
}
.progress-track .progress-item .subject{
    display: flex;
    justify-content: space-between;

    >h5{
        margin-top: 0.6rem;
    }

    >button{
        border: none;
        padding: 0.3rem;
        border-radius: var(--border-radius);
        background-color: rgba(129, 198, 176, 0.311);
        color: var(--text-color);
    }
}

.progress-track .progress-item .subject >button:hover{
    background-color:var(--btn-color);
    color: var(--text-color);
}

.progress-track .progress-item .progress-bar{
    width: 100%;
    height: 10px;
    border-radius: var(--border-radius);
    background-color: var(--bg2-color);

    >.progress-fill{
        height: 10px;
        border-radius: var(--border-radius);
        background-color: var(--btn-color);
    }
}

/*  dashboard section 2 */
.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
    padding: 0 2rem;
}

.section2 .recomended{
    display: flex;
    margin-left: 1rem;
    margin-top: 1.5rem;

    >span{
        width: 35px;
        height: 35px;

        >svg{
            width: 35px;
            height: 35px;
            fill: rgb(255, 98, 0);
            margin-top: 0.2rem;
        }
    }
}

.dashboard-container .courses{
    width: 70%;
    height: 30vh;
    border-radius: var(--border-radius);
    background-color: var(--color-hover);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.6rem;

    >p{
        color: var(--text-color);
    }
}

.dashboard-container .courses .icon{
    width: 35px;
    height: 35px;

    >svg{
        color: var(--bg-color);
    }
}

.dashboard-container .courses button{
    border: none;
    width: fit-content;
    background-color: transparent;
    padding: 0.5rem 1rem;

    >a{
        text-decoration: none;
        color: var(--text-color);
        font-weight: 700;
        font-size: large;
        transition: all 0.5s ease-in;
    }
}

.dashboard-container .courses button>a:hover{
    color: var(--color-hover);
}

/* dashboard section3*/
.section3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
}

.section3 .event{
    width: 310px;
    height: 170px;
    border-radius: var(--border-radius);
    border: 0.5px dashed rgba(128, 128, 128, 0.217);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
}

.section3 .event .head{
    width: 270px;
    height: 30px;
    padding: 0.5rem ;
}
.section3 .event .detail{
    width: 270px;
    height: 90px;
    background-color: var(--bg2-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.8rem;

    >p{
        font-size: smaller;
        font-weight: 600;
        color: var(--text-color);
    }
}

.section3 .event .detail .icon{
    width: 30px;
    height: 30px;

    >svg{
        color: var(--bg-color);
    }
}
/* end of dashboard part */
/* -------------------------------------------------------------------------------------- */
/* explore courses part */
.explore-container{
    width: 100%;
    top: 8rem;
    display: none;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

/* explore courses section1 */
.explore-container .section1{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-color);
    gap: 1rem;

    >p{
        text-align: center;
        font-weight: 600;
    }
}

/* explore courses section2 */
.explore-container  .section2{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    >.first-row{
        display: flex;
        justify-content: center;
        gap: 10rem;
    }
}


.explore-container  .section2 .categories-select-button{
    width: 340px;
    height: 45px;
    border: 1px solid;
    border-color: var(--color-hover);
    border-radius: var(--border-radius);
    background-color: var(--bg2-color);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;

    >.categories{
        width: 350px;
        height: 45px;
        border-color: var(--bg2-color);
        border-radius: var(--border-radius);
        background-color: var(--bg2-color);
        padding: 0.8rem 1rem;
        color: var(--text-color);
        font-size: 16px;
    }

    >.icon{
        position: absolute;
        right: 1.8rem;
        cursor: pointer;
        transition: all 0.5s ease-in;
    }
}

.explore-container .section2 .categories-menu{
    width: 340px;
    height: 250px;
    padding: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--bg2-color);
    display: none;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    position: absolute;
    top: 2.8rem;
    left: 13rem;

    >.menu-item{
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
}

.explore-container .section2 .categories-menu.active{
    display: flex;
}

.explore-container .section2 .categories-menu .menu-item:hover{
    background-color: var(--bg2-color);
}

.explore-container .section2 .categories-menu .menu-item.active{
    color: var(--color-hover);
}

/* search input */
.section2 .search-option{
    width: 350px;
    height: 40px;
    border-radius: var(--border-radius);
    background-color: var(--bg2-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    >input{
        width: 350px;
        height: 40px;
        padding: 0.5rem 1rem;
        border-radius: var(--border-radius);
        background-color: var(--bg2-color);
        outline: none;
        border: 1px solid;
        border-color: var(--color-hover);
    }

    >.icon{
        width: 30px;
        height: 30px;
        position: absolute;
        right: 1rem;
         
        >svg{
            width: 30px;
            height: 30px;
        }
    }
}

.section2 .search-option .icon>svg:hover{
    fill: var(--color-hover);
    transition: all 0.3s ease-in-out;
}

/* search result display */
.resultsDisplay{
    display: none;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: var(--text-color);
    margin-top: 2rem;
}
/* end of explore courses */
/* -------------------------------------------------------------------------------------- */
/* my courses part of user  */
main .courses-container{
    width: 100%;
    margin-left: 5rem;
    padding: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

/* my courses section1 */
.courses-container .section1{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    >.first-row{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
}

/* my courses select course categories */
.section1 .first-row .categories-select-button{
    width: 320px;
    height: 45px;
    border: 1px solid;
    border-color: var(--color-hover);
    border-radius: var(--border-radius);
    background-color: var(--bg2-color);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;

    >.categories{
        width: 330px;
        height: 45px;
        border-color: var(--bg2-color);
        border-radius: var(--border-radius);
        background-color: var(--bg2-color);
        padding: 0.8rem 1rem;
        color: var(--text-color);
        font-size: 16px;
    }

    >.icon{
        position: absolute;
        right: 1.8rem;
        cursor: pointer;
        transition: all 0.5s ease-in;
    }
}

/* my courses hover  */
.courses-container .section1 .categories-menu.active{
    display: flex;
}

.courses-container .section1 .categories-menu .menu-item:hover{
    background-color: var(--bg2-color);
}

.courses-container .section1 .categories-menu .menu-item.active{
    color: var(--color-hover);
}

/* my courses select categories dropdown */
.section1 .categories-menu{
    width: 330px;
    height: 250px;
    padding: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--bg2-color);
    display: none;
    flex-direction: column;
    gap: 1rem;
    margin-left: 8.5rem;
    overflow-y: scroll;
    position: relative;

    >.menu-item{
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
}

/* my courses search part */
.section1 .search-option{
    width: 350px;
    height: 40px;
    border-radius: var(--border-radius);
    background-color: var(--bg2-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    >input{
        width: 350px;
        height: 40px;
        padding: 0.5rem 1rem;
        border-radius: var(--border-radius);
        background-color: var(--bg2-color);
        outline: none;
        border: 1px solid;
        border-color: var(--color-hover);
    }

    >.icon{
        width: 30px;
        height: 30px;
        position: absolute;
        right: 1rem;
         
        >svg{
            width: 30px;
            height: 30px;
        }
    }
}

/* search option hover */
.section1 .search-option .icon>svg:hover{
    fill: var(--color-hover);
    transition: all 0.3s ease-in-out;
}

.section1 .first-row .compelete-courses{
    width: 170px;
    height: 20px;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    
    >div{
        width: 30px;
        height: 10px;
        border-radius: var(--border-radius);
        background-color: var(--bg-color);

        >div{
            width: 20px;
            height: 20px;
            background-color: var(--btn-color);
            border-radius: 50%;
            margin-bottom: 1.5rem;
        }
    }
    
}


/* footer */
footer{
    width: 100%;
    min-height: 15vh;
    margin-top: 3rem;
    box-shadow: inset 0 6px 3px -5px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 0.4rem;
}

footer .footer-links{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
    padding: 1.2rem;
    color: rgba(0, 0, 0, 0.406);
    cursor: pointer;

    >a{
        text-decoration: none;
        color: var(--text-color);
    }
}

footer .footer-links > a:hover{
    color: var(--btn-color);
    font-size: large;
}

footer .copyright{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 0.5rem;

    >p{
        font-size: 14px;
        color: gray;
    }
}

/* enrolled courses */
.courses-container .my-courses {
    height: auto;
    min-height: 40vh;
    margin-bottom: 2rem;
}

/* grid layout */
.courses-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* individual course card */
.course-card {
  background-color: var(--bg2-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  margin-top: 2rem;
  gap: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* hover effect */
.course-card:hover {
  transform: translateY(-6px);
}

/* course image */
.course-card img {
  width: 100%;
  height: 140px;
  border-radius: var(--border-radius);
  object-fit: cover;
}

/* title */
.course-card h4 {
  font-size: 1rem;
  color: #111827;
}

/* price */
.course-card p {
  font-size: 1rem;
  font-weight: 600;
  color: #6b7280;
}

/* continue button */
.course-card .resume-btn {
    align-self: flex-end;
    width: fit-content;
    margin: 1rem;
    padding: 0.6rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--btn-color);
    font-weight: 600;
    cursor: pointer;
}

.course-card .resume-btn:hover {
  background-color: var(--color-hover);
}
