@media(max-width: 1024px){
    .header .logo{
        width: 100px;

        >img{
            width: 110px;
        }
    }
}

@media(max-width: 768){
    .header{
        height: 6vh;
    }
    .login-container .form-container label{
    font-size: 1rem;
    font-weight: 600;
}
}

@media(max-width: 650px){
    .header{
        height: 5vh;
    }
    .header .logo{
        width: 100px;

        >img{
            width: 90px;
        }
    }

   .login-container .form-container label{
    font-size: 0.7rem;
    font-weight: 600;
}
}

@media(max-width: 500px){
    .header{
        height: 4vh;
    }
    .header .lang{
        font-size: 0.8rem;
        font-weight: 300;
    }
    .header .logo{
        width: 100px;

        >img{
            width: 90px;
            height: 18px;
        }
    }

   .login-container .form-container label{
    font-size: 0.4rem;
    font-weight: 600;
}

.login-container .form-container input{
        font-size: 12px;
    }

.login-container .form-container .btn{
    font-weight: 400;
    font-size: 10px;
}
}

@media(max-width: 430px){
    .header{
        height: 4vh;
    }

    .header .logo{
        width: 70px;
        >img{
            width: 60px;
            height: 15px;
        }
    }

    .login-container .form-container input{
        font-size: 8px;
    }

    
   .login-container .form-container label{
    font-size: 0.3rem;
    font-weight: 600;
}

    .login-container .form-container .btn{
    font-weight: 200;
    font-size: 8px;
}
}


@media(max-width: 390px){
    .header{
        height: 4vh;
    }

    .header .logo{
        width: 70px;
        >img{
            width: 60px;
            height: 15px;
        }
    }

    .login-container .form-container input{
        font-size: 5px;
    }

    
   .login-container .form-container label{
    font-size: 0.3rem;
    font-weight: 400;
}

    .login-container .form-container .btn{
    font-weight: normal;
    font-size: 4.5px;
}
}