/* reponsive for big devices */
@media(max-width: 1400px){
    header{
    height: 15vh;
}

    .navBar .logo {

    >img{
        width: 190px;
        height: 6vh;
    }
}

.dashboard-container .courses{
    width: 90%;
}

.section3 .event{
    width: 330px;
}

.explore-container .section2 .categories-menu{
     left: 17rem;
}

.section1 .categories-menu{
    margin-left: 12rem;
}
}
/* end  reponsive for big devices */
/* ------------------------------------------------------------------------------------------------------ */
/* reponsive for 1024px */
@media(max-width: 1200px){
    .dashboard-container{
        justify-content: center;
        align-items: center;
    }
    .explore-container .section2 .categories-menu{
     left: 10rem;
}

.section1 .categories-menu{
    margin-left: 6rem;
}

.dashboard-container .section3{
    width: 80%;
}
.dashboard-container .section3 .event{
    padding: 0.5rem 1rem;
}
}


/* end  reponsive for 1024px */
/* ------------------------------------------------------------------------------------------------------ */
/* reponsive for 1024px */
@media(max-width: 1024px){
     .explore-container .section2 .categories-menu{
     left: 5rem;
}

.section1 .categories-menu{
    margin-left: 0.6rem;
}

.dashboard-container .courses{
    width: 90%;
    height: 140px;
}

.section3 .event{
    width: 310px;
}
}

/* end  reponsive for 1024px */
/* ------------------------------------------------------------------------------------------------------ */
/* reponsive for 991px*/
@media(max-width: 991px){
    
    .dashboard-container{
        justify-content: center;
        align-items: center;
    }
    .dashboard-container .section1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }
    .dashboard-container .section1 .progress-track{
    width: 80%;
    display: flex;
    /* position: absolute; */
    flex-direction: column;
    gap: 1rem;
}

.dashboard-container .section3{
    width: 70%;
}
.section3 .event{
    width: 260px;
    >.head{
        width: 240;
        margin-left: 1rem;
    }

}
.section3 .event .detail{
    width: 230px;
}
.explore-container .section2 .categories-menu{
     left: 3rem;
}

.section1 .categories-menu{
    margin-left: 0.3rem;
}
.explore-container .section1{
    height: 28vh;
}

}

/* end  reponsive for 991px*/
/* ------------------------------------------------------------------------------------------------------ */
/* reponsive for 900px */
@media(max-width: 900px){
    .navBar .profile >span{
        width: 30px;
    }
      .navBar .profile .toggle-screen{
        display: none;
    }

      .section3 .event{
    width: 240px;
    >.head{
        width: 230px;
        margin-left: 0.6rem;
    }
    >.detail{
        width: 230px;
    }

}
    .explore-container .section2 .first-row{
        width: 80%;
        justify-content: center;
        gap: 6rem;
    }
    .explore-container .section2 .categories-menu{
     left: 3rem;
}

.section1 .categories-menu{
    margin-left: -2rem;
}

}
/* end  reponsive for 900px */
/* ------------------------------------------------------------------------------------------------------ */
/* reponsive for 850px*/
@media(max-width: 850px){
    .navBar .logo {
    width: 180px;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;

    >img{
        width: 150px;
        height: 6vh;
    }
}
    .navBar .profile .toggle-screen{
        display: none;
    }
    .navBar .profile >span{
        width: 28px;
    }

    header{
        width: 100%;
        height: 10vh;
    }
    .navBar .navmenu{
        top: 2.5rem;
       >li{
        font-weight: bold;
        font-size: 12px;
        
    }
}

    .section3 .event{
    width: 230px;

    >.head{
        width: 200px;
        margin-left: 1rem;
    }

    >.detail{
        width: 200px;
    }

}

}
/* end  reponsive for 850px */
/* ------------------------------------------------------------------------------------------------------ */
/* reponsive for 786*/
@media(max-width: 786px){
  .navBar .logo {
    width: 150px;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;

    >img{
        width: 150px;
        height: 4vh;
    }
}
    .navBar .profile .toggle-screen{
        display: none;
    }
    .navBar .profile >span{
        width: 20px;
    }

    header{
        width: 100%;
        height: 8vh;
    }
    .navBar .navmenu{
        top: 2.5rem;
       >li{
        font-weight: bold;
        font-size: 10px;
        
    }
}

    .section3 .event{
    width: 210px;

    >.head{
        width: 180px;
        margin-left: 1rem;
    }

    >.detail{
        width: 180px;
    }

}

}

/* end  reponsive for 786 */
/* ------------------------------------------------------------------------------------------------------ */
/* reponsive for 720*/
@media(max-width: 720px){
    header{
        width: 100% !important;
        min-width: 700px;
        height: 8vh;
    }
  .navBar .logo {
    width: 120px;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;

    >img{
        width: 120px;
        height: 4vh;
    }
}
    .navBar .profile .toggle-screen{
        display: none;
    }

    .navBar .profile >span{
        width: 18px;
    }

    .navBar .navmenu{
        top: 2.5rem;
       >li{
        font-weight: bold;
        font-size: 8px;
        
    }
}

    .section3 .event{
    width: 180px;

    >.head{
        width: 150px;
        margin-left: 1rem;
    }

    >.detail{
        width: 150px;
    }

}

}

/* reponsive for 720*/
@media(max-width: 500px){
    header{
        width: 100% !important;
        min-width:700px;
        height: 8vh;
    }
  .navBar .logo {
    width: 80px;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;

    >img{
        width: 90px;
        height: 4vh;
    }
}
    .navBar .profile .toggle-screen{
        display: none;
    }
    .navBar .profile .notify-icon{
        display: none;
    }

    .navBar .profile >span{
        width: 15px;
    }

    .navBar .navmenu{
        top: 2.5rem;
       >li{
        font-weight: bold;
        font-size: 6px;
        
    }
}

    .section3 .event{
    width: 140px;
    height: 120px;

    >.head{
        width: 110px;
        margin-left: 1rem;
    }

    >.detail{
        width: 110px;
    }

}

}