*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 110px;
    /* position: fixed; */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

/* sub header part */
.sub-header{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(170, 182, 194, 0.283);
    gap: 3rem;
}

.language{
    position: relative;
    top: 0.2rem;
    right: 3rem;
    gap: 0.5rem;
    display: flex;
    cursor: pointer;

    >.lang{
        border-radius: 50%;
    }
}

.login{
    position: absolute;
    right: 9rem;
    gap: 0.3rem;
    padding: 0.2rem;
    display: flex;
    cursor: pointer;
    font-weight: 600;
 
    >.fa-user{
        margin-top: 0.5rem;
    }

}

/* main header part */
.header-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.logo{
    width: 100%;
    margin-left: 1rem;
    margin-top: 1rem;
    
    >img{
        width: 230px;
        height: auto;
        cursor: pointer;
    }
}

.navBar{
    display: flex;
    justify-content: center;
    align-items: center;

    >ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin-top: 0.8rem;

        >li{
            list-style: none;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

.dynamix-btn{
    width: 220px;
    padding: 0.8rem;
    margin-top: 1rem;
    margin-right: 9rem;
    display: flex;
    border: none;
    border-radius: 5rem;

    >a{
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
    }
}

.search-icon{
    position: absolute;
    right: 3rem;
    top: 3rem;
    padding: 0.5rem;

    >svg{
        width: 35px;
        height: 35px;
        cursor: pointer;
    }

}

/* searchbar dropdown */
/* .seachbar{
   width: 100%;
   height: 40px;
   margin-right: 3rem;
   margin-top: 0.8rem;
   border-radius: 2rem;
   padding: 0 1rem;
   background-color: rgba(128, 128, 128, 0.454);
   display: flex;
   justify-content: center;
}

.seachbar .search{
   width: 100%;
   height: 100%;
   margin-right: 3rem;
   border-radius: 2rem;
   border: none;
   outline: none;
   background: transparent;
   font-size: 1rem;
} */

/* main part first section*/
.main-container{
    width: 100%;
    position: absolute;
    top: 8rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.main-container .section1{
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 3rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding-left: 2rem;
    gap: 2rem;

    >h1{
        font-size: 52px;
        font-weight: bold;
        padding-top: 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    >h3{
        font-size: 32px;
        padding-left: 2rem;
        line-height: 2.5rem;

    }

}

.section1 .title button{
    padding: 1rem;
    border: none;
    align-self: center;
    margin-left: -3rem;
    font-weight: 700;
    font-size: large;
    border-radius: 18px;
    cursor: pointer;
}

.section1 .image{
    width: 600px;
    height: 400px;
    border-radius: 16px;
    position: relative;

    >img{
        width: 600px;
        height: 400px;
        border-radius: 16px;
    }
}

/* main part section two */
.main-container .section2{
    width: 70%;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;

    >p{
        line-height: normal;
    }
}